* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

li {
  list-style: none;
}

/* CARDS */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

@media (min-width: 660px) {
  .cards {
    flex-direction: row;
    width: 800px;
  }
}

.card {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #a2abbe;
  border-left: 6px solid;
  text-decoration: none;
}

.card__title {
  color: #000;
  font-size: 24px;
}

.card__desc {
  display: flex;
  margin: 10px 0 0;
}

.card__desc__item {
  color: #3c4043;
}

.card__desc__item + .card__desc__item::before {
  content: "/";
  margin: 0 5px;
}

.card--orange {
  border-left: 5px solid #ea6336;
}

.card--blue {
  border-left: 5px solid #33a3da;
}

.card--yellow {
  border-left: 5px solid #ebba3b;
}
